.title{
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-style: italic;
	font-weight: 155;
	text-transform: uppercase;
	padding: 0 30px;
	font-family: 'Helvetica Neue', sans-serif;
	color: #333333;
	
	

}