.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f2f2f2;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  
  .footer__social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
  }
  
  .footer__icon {
	font-size: 1.5rem;
	color: rgb(98, 95, 95);
	margin: auto;
  }
  
  .footer__icon:hover {
	transform: scale(1.2);
	transition: all ease-out 300ms;
	color: black;
  }
  
  .footer__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .footer__links a {
	color: rgb(98, 95, 95);
	text-decoration: none;
	font-size: 18px;
	margin-right: 1rem;
	padding-right: 25px;
  }
  
  .footer__links a:hover {
	transform: scale(1.2);
	transition: all ease-out 300ms;
	color: black;
  }
  
  .copiright {
	text-decoration: none;
	color: rgb(98, 95, 95);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 25px;
  }
  
  .copiright:hover {
	text-decoration: underline;
  }
  
  @media only screen and (max-width: 901px) {
	.footer {
	  flex-direction: column;
	  align-items: center;
	  padding: 1rem 0;
	}
	.footer__social-media {
	  margin-top: 1rem;
	  flex-direction: row;
	  justify-content: center;
	}
	.footer__links {
	  margin-top: 1rem;
	  align-items: center;
	}
	.footer__links a {
	  margin-right: 0;
	  margin-bottom: 1rem;
	  padding: 0;
	  margin: auto;
	  font-size: 0.8rem;
	 
	}
	.copiright {
	  margin-top: 1rem;
	  justify-content: center;
	  padding-right: 0;
	  font-size: 1rem;
	}
	.footer__icon {
		font-size: 1rem;
		
	  }
  }
  
  @media only screen and (max-width: 375px) {
	.footer__links a {
	  font-size: 12px;
	  align-items: center;
	  padding: 0;
	  margin: auto;

	}
	.footer__icon {
		font-size: 16px;
		color: rgb(98, 95, 95);
		margin: auto;
	  }
	  .copiright {
		font-size: 12px;
	  }
	  
  }
  