.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f2f2f2;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
}

  .footer__social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
  }
  
  .footer__icon {
	font-size: 1.5rem;
	color: rgb(98, 95, 95);
	margin: auto;
	justify-content: space-between;
  }
  .footer__icon:hover {
	transform: scale(1.2);
	transition: all ease-out 300ms;
	color: black;
  }
  
  .footer__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  .footer__links a {
	color: rgb(98, 95, 95);
	text-decoration: none;
	font-size: 18px;
	margin-right: 1rem;
	padding-right: 25px;
  }
  .footer__links a:hover {
	transform: scale(1.2);
	transition: all ease-out 300ms;
	color: black;
  }
  .copiright{
	text-decoration:none;
	color: rgb(98, 95, 95);
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
  }
  .copiright:hover {
	text-decoration: underline;
  }
  
 
  